*{
    text-align: center;
}
.title{
    text-decoration: underline;
    font-weight: bold;
    padding-left:20px;
    padding-right: 20px;
}
.box{
    margin-left: auto;
    margin-right:auto;
    width: 400px;
    padding-left:20px;
    padding-right: 20px;

}
@media screen and (max-width: 600px) {
    .box {
        width: 300px;;
    }
  }
.portfolioB{
font-weight: bold;
}
h1, p{
    padding-left:20px;
    padding-right: 20px;
}